<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lz.com.acatch">

    <application>
        <activity
            android:name=".CactchResultActivity"
            android:launchMode="singleTask"
            android:process=":error_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
